<h1>Renters#index</h1>
<p>Find me in app/views/renters/index.html.erb</p>
<p>
    <%= link_to "Rent a suit", 'renters/new' %>
</p>


<%= search_form_for @q_renters do |f| %>
    <%= f.label :suit_appid_cont, "Suit App. ID:" %>
    <%= f.collection_select :suit_appid_cont, Suit.select("distinct appid"), :appid, :appid, {:include_blank => "Please select a suit."} %>
    <%= f.label :user_uin_cont, "Customer UIN:" %>
    <%= f.collection_select :user_uin_cont, User.select("distinct uin"), :uin, :uin, {:include_blank => "Please select a Customer UIN."} %>
    <%= f.submit "Search" %>
<% end %>
<br>


<%= will_paginate %>

<%= content_tag :table, class: 'table' do %>
  <%= content_tag :thead, display_renter_sorted_column_headers(@q_renters), nil, false  %>
  <%= content_tag :tbody, display_renter_sorted_search_results(@renters), nil, false  %>
<% end %>

<%= will_paginate %>

