<h1>All Administrator</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= search_form_for @q_admin do |f| %>
      <%= f.label :name, "Administrator Name:" %>
      <%= f.search_field :name , class: 'form-control' %><br>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div><br>



<div>
<%= will_paginate %>
<%= content_tag :table, class: 'table' do %>
   <%= content_tag :thead, display_admin_sorted_column_headers(@q_admin), nil, false %>
   <%= content_tag :tbody, display_admin_sorted_search_results(@admins), nil, false %>
<% end %>
<%= will_paginate %>
</div>
