
<h1>Suits inventory</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= search_form_for @search do |f| %>
        <%= f.label "App. ID" %>
        <%= f.search_field :appid_cont, class: 'form-control' %><br>
        <%= f.label :gender %>
        <%= f.collection_select :gender_cont, Suit.select("distinct gender"), :gender, :gender, {:include_blank => "Please select gender"}, class: 'form-control' %><br>
        <%= f.label :size %>
        <%= f.collection_select :size_cont, Suit.select("distinct size"), :size, :size, {:include_blank => "Please select size"}, class: 'form-control' %><br>
        <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


<p>
    <%= link_to "Add new suits", new_suit_path, {:class => "btn btn-default"} %>
</p>

<div>
<%= will_paginate %>
<%= content_tag :table, class: 'table' do %>
   <%= content_tag :thead, display_suit_sorted_column_headers(@search), nil, false %>
   <%= content_tag :tbody, display_suit_sorted_search_results(@suits), nil, false %>
<% end %>
<%= will_paginate %>
</div>
