<h1>All Customers</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= search_form_for @q_user do |f| %>
      <%= f.label :uin, "Customers UIN:" %>
      <%= f.search_field :uin_cont, class: 'form-control' %><br>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


<div>
&nbsp;
</div>

<div>
<%= will_paginate %>
<%= content_tag :table, class: 'table' do %>
   <%= content_tag :thead, display_user_sorted_column_headers(@q_user), nil, false %>
   <%= content_tag :tbody, display_user_sorted_search_results(@users), nil, false %>
<% end %>
<%= will_paginate %>
</div>

