<h1>Welcome, <%= @user.full_name %> Profile</h1>

<div class= "row">
    <aside class = "col-md-4">
        <section>
            <%= label_tag "Customer Name: " %>
            <%= @user.full_name %><br>
            <%= label_tag "Customer UIN: " %>
            <%= @user.uin %><br>
            <%= label_tag "Email: " %>
            <%= @user.email %><br>
            <%= label_tag "Phone: " %>
            <%= @user.phone %><br>
        </section>
    </aside>
</div>

<p>
    <%= link_to "Edit",edit_user_path(@user) %></td>
</p>

<p>
    <%= link_to "Back to Closet", appointments_path %>
</p>