<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @appointment.user_id.blank? %>
    <% user_id = params[:user_id] %>
  <% else %>
    <% user_id = @appointment.user_id %>
  <% end %>

  <div class="form-group">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
    <% if current_user %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <% elsif current_admin %>
      <%= f.hidden_field :user_id, value: @appointment.user_id %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>