<p id="notice"><%= notice %></p>

<h1 align="center">Listing Appointments</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <% if current_admin %>
      <%= search_form_for @search_appointment do |f| %>
          <%= f.label :user_uin_cont, "Customer UIN:" %>
          <%= f.search_field :user_uin_cont, class: 'form-control' %><br>
          <%= f.submit "Search", class: "btn btn-primary" %>
      <% end %>
      <br>
   <% end %>
  </div>
</div>



<div align="center"><%= will_paginate %></div>
<%= content_tag :table, class: 'table' do %>
   <%= content_tag :thead, display_appointment_sorted_column_headers(@search_appointment), nil, false %>
   <%= content_tag :tbody, display_appointment_sorted_search_results(@appointments), nil, false %>
<% end %>
<div align="center"><%= will_paginate %></div>

<% if current_user %>
   <%= link_to 'New Appointment', new_appointment_path, {:class => "btn btn-default"} %>
<% end %>

